
<div *ngFor="let book of books; let even = even" class="bookCard" >
    <button class="deleteCard" (click)="deleteCard(book)">x</button>
    <h2 class="titleBook dataBook">{{book.title}}</h2>
    <div class="imgBook">
        <img src="{{book.photo}}" alt="portada">
    </div>
    <div class="datasBook">
        <div class="dataBook">Escritor/a: {{book.author}}</div>
        <div class="dataBook">Código: {{book.id_books | pipeRef}} </div>
        <div class="dataBook">Tapa: {{book.type}}</div>
        <div class="dataBook">Precio: {{book.price}}</div>
    </div>
    <div class="buttonBox">
        <button [ngClass]="{'buttonEven': even, 'buttonOld': !even}">Comprar</button>
    </div>
</div>
