.contenedor{
    display: flex;
    height: 100px;
    color:var(--lightColor);
    background-color: var(--darkColor);
  
}

.column{
    justify-content:space-between;
    align-items: center;
    display: flex;
    
}

.title{
    margin-left: 20px;
}

