*{
    font-family: var(--font-primary);
}

.contenedor{
    display: flex;
    height: 100px;
    color:var(--lightColor);
    background-color: var(--darkColor);
    box-shadow: 0px 15px 15px gray;
  
}

.column{
    justify-content:space-between;
    align-items: center;
    display: flex;  
}

.title{
    margin-left: 20px;
}


.linkMenu{
    text-decoration: none;
    color: var(--lightColor);
}

.linkMenu:hover{
    color: var(--lightColor);
    font-size: 150%;
}
