<div class="container">
    <div class="box1">
        <div class="img">
            <img src="/assets/img/imgProfile/person.jpg" alt="person">
        </div>
        <div class="title">
            <h1>Ana García Pinya</h1>
        </div>
        <div class="user">
            <div class="data">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" >
            </div>
            <div class="data">
                <label for="lastName">Apellidos:</label>
                <input type="text" name="lastName" id="lastName" > 
            </div>
            <div class="data">
                <label for="email">Correo Electrónico:</label>
                <input type="email" name="email" id="email" >
            </div>
        </div>
    </div>
    <div class="box2">
        <h2 class="title2">EDITAR DATOS</h2>
        <form action="" class="form">
            
            <input type="text" name="name" id="name" placeholder="Nombre">
            <input type="text" name="lastName" id="lastName" placeholder="Apellidos" >
            <input type="email" name="email" id="email" placeholder="Correo Electrónico">
            <input type="text" name="url" id="url" placeholder="Url" >
            <button>
                <span> MODIFICAR DATOS</span>
            </button>
        </form>
    </div>
</div>
