
.head{
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-align: center;
    margin-top: 5px;
    font-family: var(--font-primary);
   
}
.container{
    min-height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bookCard{
    background: linear-gradient(180deg, rgba(166,221,215,0.3688068977591037) 0%, rgba(50,51,113,1) 100%);
    border-radius: 30px;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    box-shadow: 5px 5px 5px rgb(115, 115, 181);
    margin: 20px;
}

.imgBook{
     overflow: hidden;
}

img{
    height: 250px;
    width: 300px;
    object-fit: cover; 
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgb(123, 81, 81);
}

.datasBook{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--lightColor);  
}

.titleBook{
    font-family: var(--font-secundary);
    text-shadow:1px 1px 1px var(--darkColor) ;
    text-align: center;
}

.dataBook{
    margin-top: 10px;
    font-family: var(--font-primary);
}

.button2{
    width: 100px;
    margin-left: 120px;
    margin-right:120px;
    margin-top: 20px;
}

ul{
    list-style-type: none;
}

.formContainer{
    height: 40vh ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


.form{
    height: 30vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--darkColor);
}

.formTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--lightColor);
}

input{
    width: 300px;
    margin-top: 10px;
}


.buttonOdd{
    background-color: green;
    color: white;
    width: 100px;
    margin-top: 20px;
    margin-left: 120px;  
}

.buttonEven{
    background-color: blue;
    color:white;
    width: 100px;
    margin-top: 20px;
    margin-left: 120px;
}
