<div class="head">
    <h1 class="title">TODOS LOS LIBROS</h1>  
</div>
<div class="container">
    <div class="bookCard">
        <h2 class="titleBook">El día que Nietzsche lloró</h2>
        <div class="imgBook">
            <img src="/assets/img/imgBooks/Nietzsche.jpeg" alt="nietzsche">
        </div>
        <div class="datasBook">
            <div class="dataBook">Escritor/a: </div>
            <div class="dataBook">Código: </div>
            <div class="dataBook">Precio: </div>
        </div>
        <div>
            <button>Comprar</button>
        </div>
    </div>

</div>
