.back{
    background-color: var(--lightColorBack);

}

.head{
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-align: center;
    margin-top: 5px;
    font-family: var(--font-primary);
    
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.input {
    color: var(--cardsColor);
    border: 2px solid var(--cardsColor);
    border-radius: 10px;
    padding: 10px 25px ;
    background: transparent;
    max-width: 300px;
    margin-bottom: 20px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px var(--cardsColor) inset;
   }
   