<div class="back">
    <div class="head">
        <h1 class="title">TODOS LOS LIBROS
        </h1>  
    </div>
    <div *ngIf="books.length === 0">
        No hay libros.
    </div>
    <div class="main">
        <input type="text" name="text" class="input" placeholder="Busca tu libro..." #search_id (change)="getCards(search_id.value)">
        <ng-container *ngFor="let book of books; let even = even" class="bookCard">
            <app-card [even]="even" [book]="book" (deleteCard) = "deleteCard($event)"></app-card>
        </ng-container>
    </div>
</div>