*{
    font-family: var(--font-primary);
}

.footer{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60px;
    background-color: var(--darkColor);
    color: var(--lightColor);
}
