*{
    font-family: var(--font-primary);
}

.footer{
    height: 60px;
    background-color: var(--darkColor);
    color: var(--lightColor);
}

.linkFooter{
    text-decoration: none;
    color: var(--lightColor);
}
