.login-form{
    font-family: var(--font-primary);
    height: 87vh;
    background: linear-gradient(180deg, rgba(166,221,215,0.3688068977591037) 0%, #8707ff,  rgba(50,51,113,1) 100%);
    margin: 0 auto;
}