
.main{
    display:flex;
    flex-direction: row;  
    height: 100%;
}

.textHome{
    width: 60%;
    min-height: 87vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var( --font-base2);
}


.textLine{
    background-color: var(--darkColor);
    color: var(--lightColor);
    margin: 100px 0px 0px 0px;
    font-size: 20px;
}


.imgHome{
    width: 700px;
    height: 700px;
    margin: 90px 0px 90px 50px;
    border-radius:50%;
    background-image: url('src/assets/img/imgHome/paginas-libro.jpg');
    background-size: cover;
    box-shadow: 10px 10px 10px grey;
}
