
.main{
    display:flex;
    flex-direction: row;  
    height: 100%;
    background-color: var(--lightColorBack);
}

.textHome{
    width: 60%;
    min-height: 87vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-secundary);
}


.textLine{
    background-color: var(--darkColor);
    color: var(--lightColor);
    margin: 100px 0px 0px 0px;
    font-size: 20px;
    font-family: var(--font-secundary);
}


.imgHome{
    width: 700px;
    height: 700px;
    margin: 90px 0px 90px 50px;
    border-radius:50%;
    background-image: url('src/assets/img/imgHome/paginas-libro.jpg');
    background-size: cover;
    box-shadow: 10px 10px 20px rgba(119, 220, 208, 0.369),
    10px 0 20px #d0b4eb, 
    0 20px 20px rgb(171, 177, 219);
}
