<div class="main">
    <div class="container-fluid box1">
        <div class="row">
            <div class="textHome col-8">
                <h1>«Un libro, como un viaje, se comienza con inquietud y se termina con melancolía»</h1>
                <h3>José Vasconcelos</h3>
                <div class="textLine">
                    <h4 class="text">Empieza tu viaje aquí, encuentra tu libro</h4>
                </div>
            </div>
            <div class="imgHome col-4">
            </div>
        </div>
    </div>
    <div class="galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/1.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/8.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/12.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/4.png" alt="Galeria Img" class="imgGal">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/5.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/6.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/7.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/2.png" alt="Galeria Img" class="imgGal">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/9.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/10.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/11.png" alt="Galeria Img" class="imgGal">
                </div>
                <div class="col-3">
                    <img src="/assets/img/imgHome/mosaic/21.png" alt="Galeria Img" class="imgGal">
                </div>
             </div>    
        </div>
    </div>
</div>
