<div class="formContainer">
    <form action="" class="form">
        <h2 class="formTitle">Modificar libro</h2>
        <input placeholder="Título" #title type="text">
        <input placeholder="Autor" #author type="text">
        <input placeholder="Tapa blanda/dura" #type type="text">
        <input placeholder="Precio" #price type="number">
        <input placeholder="Url photo" #photo type="text">
        <input placeholder="Código libro" #id type="number">
        <button class="button2" (click)="editBook(title, type, author, price, photo, id); goPlace()">Modificar libro</button>
    </form>
</div>

