*{
    font-family: var(--font-primary);
}

h2{
    margin-bottom: 30px;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    border-radius: 20px; 
    background-color: var(--darkColor);
    color: var(--lightColor);
    box-shadow: 0px 15px 15px gray;
}

.boxForm{
    padding-left: 400px;
    padding-right: 400px;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 450px;
}

button{
    margin-top:20px;
    width: 250px;
}