
<div class="form">
    <div>RELLENE EL FORMULARIO</div>
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="secondName">Apellido:</label>
        <input type="text" id="secondName">
    </div>
    <div> 
        <label for="email">Email:</label>
        <input type="email" id="email">
    </div>
    <div> 
        <label for="url">url:</label>
        <input type="url" id="url">
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password">
    </div>
    <div>
        <label for="repeatPassword">Repetir Contraseña:</label>
        <input type="password" id="repeatPassword">
    </div> 
    <button>Envia</button>
</div>
