*{
    font-family: var(--font-primary);
}

h2{
    margin-bottom: 30px;
}
.container{
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 20px;
    border-radius: 20px; 
    background: linear-gradient(180deg, rgba(248, 215, 194, 0.369) 0%, #f5c084,  rgb(243, 153, 80) 100%);
    color: var(--darkColor);
    box-shadow: 0px 15px 15px gray;
    width: 70%;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 100%;
}

button{
    margin-top:20px;
    width: 250px;
}