/* You can add global styles to this file, and also import other style files */

  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Kalnia&family=Quicksand:wght@300&family=Roboto+Mono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Kalnia&family=Montserrat:wght@200&family=Quicksand:wght@300&family=Roboto+Mono:wght@300&display=swap');



  *{
    margin: 0;
    padding: 0;
}

:root{
    /* colores */
    --lightColor:#eeddc9 ;
    --lightColorBack: #f9f1e6 ; 
    --darkColor: #140B04; 
    --cardsColor: #f37f3c; 

    
    /* fuentes */

    --font-size-base: 16px;
    --font-size-title:30px;
    --font-secundary: 'Kalnia', serif;
    --font-primary: 'Quicksand', sans-serif;
}
